code {
    position: relative;
    bottom: 1px;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    background-color: rgba(142, 144, 146, 0.1);
}

h1, h2, h3, h4
{
    font-weight: 600;
    padding-bottom: 9.6px;
    border-bottom: 1px solid #2f3132;
}

h1 {
    font-size: 1.85em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.35em;
}

a {
    text-decoration: none;
    color: #426d93
}