a {
    text-decoration: none;
    color: #426d93
}

section[class*="content"] {
    margin: 1rem;
}

section[class*="content"] > section {
    margin-top: 2rem;
}

section[class*="content"] > details > ul > li {
    margin-bottom: 0.5rem
}

section[class*="content"] > details > ul > li > a:hover {
    text-decoration: underline;
}

section[class*="content"] > details > ul > li > ol > li a:hover {
    text-decoration: underline;
}

section[class*="content"] > section > section > ul > li > * > a:hover {
    text-decoration: underline;
}

ul[class*="decimal"], ol[class*="decimal"] {
    list-style-type: decimal;
}

ul[class*="dot"], ol[class*="dot"]{
    list-style-type: circle;
}

section > ul {
    margin: 0;
}

li {
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
}

img {
    max-width: 60%;
}

@media screen and (max-width: 768px) {
    section > h1, section > h2, section > h3 {
        text-align: center;
    }

    section > ul {
        padding: 0 30px;
    }

    li {
        font-size: 1.2rem;
        margin-bottom: 0.9rem;
    }

    p {
        margin: 0.5rem 0.5rem 0.65rem 0.5rem;;
        font-size: 1.2rem;
    }

    img {
        max-width: 100%;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
    img {
        max-width: 95%;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1600px) {
    img {
        max-width: 70%;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    li {
        font-size: 1.2rem;
    }
}