animated-align {
    display: flex;
    flex-direction: row;
    transition: flex 0.5s;
}

/* i cannot use ::before and ::after due to a somewhere outside of my code */
/* document.adoptedStyleSheets stays empty, even when adding a new sheet */
animated-align > span {
    padding-bottom: 9.6px;

    transition: flex 1s;
    border-bottom: 1px solid #2f3132;
    text-align: center;
}

/* before */
animated-align> span:first-child {
    flex-grow: 0;
}

/* after */
animated-align> span:last-child
{
    flex-grow: 1;
}

@media screen and (max-width: 768px) {

    animated-align {
        justify-content: center;
    }

    animated-align > span:first-child {
        flex-grow: 1;
    }
}